<!DOCTYPE html>
<html lang="es">
<head> <!-- ACA HABRO EL HEAD - CONFIG. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The NFT MARKET</title>
    <link rel="stylesheet" href="/css/home.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head><!-- ACA CIERRO EL HEAD - CONFIG. -->


<body> <!-- ACA ABRO EL BODY -->


<main> <!-- ACA ABRO EL MAIN -->


    <section> <!-- ACA ABRO SECCION SUBHEADER -->
        <div class="subheader"> 
            <h1>The NFT MARKET</h1>
            <form action="/registro" method="POST">
                <input type="email" name="email">
            </form>
         </div>
 
       </section><!-- CIERRO SUBHEADER -->

    <section> <!-- ACA ABRO SECCION PRODUCTOS -->
        <h2> LOS MEJORES NFT DEL MUNDOOOOOOO</h2>

        <article class="ProductosNFT">
            <img src="/img/Lego.png">
            <div class="DescripcionNFT">
                <p> LEGO </p>
                <Br>
                <p>
                    Lorem ipsum 
                </p>
                <p>5 Eth</p>
                </br>
            </div>
        </article>

        <article class="ProductosNFT">
            <img src="/img/Alien.png">
            <div class="DescripcionNFT">
                <p> Alien </p>
                <Br>
                <p>
                    Lorem ipsum 
                </p>
                <p>7 Eth</p>
                </br>
            </div>
        </article>

        <article class="ProductosNFT">
            <img src="/img/Pika.png">
            <div class="DescripcionNFT">
                <p> Pikachu </p>
                <Br>
                <p>
                    Lorem ipsum 
                </p>
                <p>12 Eth</p>
                </br>
            </div>
        </article>

        <article class="ProductosNFT">
            <img src="/img/spider.png">
            <div class="DescripcionNFT">
                <p> Hero </p>
                <Br>
                <p>
                    Lorem ipsum 
                </p>
                <p>10 Eth</p>
                </br>
            </div>
        </article>

    </section>  <!-- CIERRO Productos -->
    
    
    <section> <!-- ABRO SECCION REDES -->
        <div class="Redes"> 
            <h3> Seguinos o contactanos :D  </h3>
            



        </div>

        
    </section> <!-- CIERRO SECCION REDES -->



</main><!-- CIERRO EL MAIN -->
    
</body><!-- CIERRO BODY -->
</html>